.question-container {
  margin-top: 40px;

  .question-image {
    background-color: #d8d8d8;
    min-height: 224px;
  }

  .question-answers {
    .answer-item {
      .answer-label {
        line-height: 2.07;
        border-radius: 10px;
        background-color: #f9f9f9;
      }
    }
  }
}
