.menu {
  width: 311px;
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
  box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.1);

  .menu-profile {
    .profile-avatar {
      background-color: #d8d8d8;
      width: 47px;
      height: 47px;
      margin-left: 9px;
    }

    .profile-details {
      span {
        &:first-child {
          line-height: 1.81;
        }

        &:last-child {
          color: #858585;
          line-height: 2.07;
        }
      }
    }
  }

  .divider {
    height: 1px;
    background-color: #dbdbdb;
  }

  .menu-links {
    ul {
      li {
        color: #1d1d1d;

        span {
          color: #1d1d1d;
        }

        a {
          color: #1d1d1d;
        }
      }
    }
  }
}
