.team-holder {
  .team-logo-holder {
    .team-logo {
      background-color: #d8d8d8;
    }

    .logo-badge {
      width: 12px;
      height: 12px;
      border: solid 2px #f9f9f9;
      right: -2px;
      bottom: -2px;
    }
  }

  .team-name {
    width: 77px;
  }

  .team-count {
    color: #7c7c7c;
  }
}

.modal-team-holder {
  .team-modal-title {
    color: #333;
  }

  .team-logo-holder {
    .team-logo {
      background-color: #d8d8d8;
    }

    .logo-badge {
      width: 12px;
      height: 12px;
      border: solid 2px #f9f9f9;
      right: -2px;
      bottom: -2px;
    }
  }
}
