.field-holder {
  border-radius: 10px;

  .custom-label {
    color: #bbb;
    line-height: 2;
    top: 5px;
  }
}

.field-color {
  border: solid 1px #bbb !important;
}

.custom-outline input:focus-within ~ label,
.custom-outline input:not(:placeholder-shown) ~ label {
  @apply transform scale-100 z-0 ml-3 px-1 py-0;
  transform: translateY(-20px);
}
